<h2><%=l(:label_autoregister)%></h2>

<%= labelled_form_for @user, :url => { :action => "register" } do |f| %>
<%= error_messages_for 'user' %>

<div class="box tabular">
  <p><%= f.text_field :login, :size => 25, :required => true %></p>
  <p><%= f.text_field :firstname, :required => true %></p>
  <p><%= f.text_field :lastname, :required => true %></p>
  <p><%= f.text_field :mail, :required => true %></p>
  <p><%= f.select :language, lang_options_for_select %></p>

</div>

<%= submit_tag l(:button_submit) %>
<% end %>


